@{
    ViewData["Title"] = "Home Page";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container" id="kt_content_container">
        <div class="card card-xxl-stretch mb-5 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">Список активных серверов</span>
                </h3>
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                <div class="tab-content">
                    <!--begin::Table container-->
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="border-0">
                                    <th class="p-0 min-w-150px"></th>
                                    <th class="p-0 min-w-140px"></th>
                                    <th class="p-0 min-w-140px"></th>
                                    <th class="p-0 min-w-140px"></th>
                                    <th class="p-0 min-w-110px"></th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Сервер 1</a>
                                        <span class="text-muted fw-bold d-block">Сервер для размещения виртуальных машин</span>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">CPU: 65%</span>
                                            <div class="progress bg-light-primary w-100 h-5px">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 65%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">RAM: 30%</span>
                                            <div class="progress bg-light-warning w-100 h-5px">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 30%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">HDD: 20%</span>
                                            <div class="progress bg-light-info w-100 h-5px">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 20%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <span class="badge badge-light-success">Running</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Сервер 2</a>
                                        <span class="text-muted fw-bold d-block">Сервер для размещения баз данных</span>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">CPU: 45%</span>
                                            <div class="progress bg-light-primary w-100 h-5px">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 45%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">RAM: 75%</span>
                                            <div class="progress bg-light-warning w-100 h-5px">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">HDD: 34%</span>
                                            <div class="progress bg-light-info w-100 h-5px">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 34%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <span class="badge badge-light-warning">Unstable</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Сервер 3</a>
                                        <span class="text-muted fw-bold d-block">Сервер для бэкапов</span>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">CPU: 0%</span>
                                            <div class="progress bg-light-primary w-100 h-5px">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 0%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">RAM: 10%</span>
                                            <div class="progress bg-light-warning w-100 h-5px">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 10%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">HDD: 90%</span>
                                            <div class="progress bg-light-info w-100 h-5px">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 90%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <span class="badge badge-light-success">Running</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Сервер 4</a>
                                        <span class="text-muted fw-bold d-block">Сервер для размещения виртуальных машин</span>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">CPU: 5%</span>
                                            <div class="progress bg-light-primary w-100 h-5px">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 5%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">RAM: 65%</span>
                                            <div class="progress bg-light-warning w-100 h-5px">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 65%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">HDD: 50%</span>
                                            <div class="progress bg-light-info w-100 h-5px">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <span class="badge badge-light-danger">Stopped</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Сервер 6</a>
                                        <span class="text-muted fw-bold d-block">Сервер для размещения виртуальных машин</span>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">CPU: 65%</span>
                                            <div class="progress bg-light-primary w-100 h-5px">
                                                <div class="progress-bar bg-primary" role="progressbar" style="width: 65%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">RAM: 65%</span>
                                            <div class="progress bg-light-warning w-100 h-5px">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 65%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column w-100 me-2 mt-2">
                                            <span class="text-gray-400 me-2 fw-boldest mb-2">HDD: 65%</span>
                                            <div class="progress bg-light-info w-100 h-5px">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 65%"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-end">
                                        <span class="badge badge-light-success">Running</span>
                                    </td>
                                </tr>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                    </div>
                    <!--end::Table-->
                </div>
            </div>
            <!--end::Body-->
        </div>
    </div>
</div>
