@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "О проекте";
}

<!--begin::Authentication - Sign-in -->
<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(/assets/media/illustrations/sigma-1/14.png)">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
        <div class="card">
            <!--begin::Body-->
            <div class="card-body p-lg-17">
                <!--begin::About-->
                <div class="mb-18">
                    <!--begin::Wrapper-->
                    <div class="mb-10">
                        <!--begin::Top-->
                        <div class="text-center mb-15">
                            <!--begin::Title-->
                            <h3 class="fs-2hx text-dark mb-5">О проекте</h3>
                            <!--end::Title-->
                            <!--begin::Text-->
                            <div class="fs-5 text-muted fw-semibold">
                                MoxControl
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Top-->
                        <!--end::Container-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Description-->
                    <div class="fs-5 fw-semibold text-gray-600">
                        <!--begin::Text-->
                        <p class="mb-8">
                            MoxControl - это интеграционный сервис по управлению IT-инфраструктурой,
                            который призван повысить эффективность управления информационной инфраструктурой
                            в организации или домашних условиях при использовании облачных решений или собственных серверов.
                        </p>
                        <!--end::Text-->
                        <!--begin::Text-->
                        <p class="mb-8">
                            Сервис обеспечивает реализацию взаимодействия с различными системами виртуализации,
                            используя их внутреннее API для стандартизации управления серверами. Простыми словами,
                            разработчик сервиса (я) верю, что возможно разработать такой сервис, который обеспечит
                            возможность управлять серверами с различными системами виртуализации так, чтобы любое
                            действие можно было спроецировать на другой сервер с совершенно другой системой виртуализации.
                        </p>
                        <!--end::Text-->
                        <!--begin::Text-->
                        <p class="mb-8">
                            Первая система виртуализации, с которой реализовано взаимодействие - Proxmox Virtual Environment.
                            Используя мощное API Proxmox, сервис позволяет управлять сервером, виртуальными машинами, образами,
                            и шаблонами виртуальных машин.
                        </p>
                        <!--end::Text-->
                        <!--begin::Text-->
                        <p class="mb-8">
                            Сервис имеет точку расширения в виде возможности без особых проблем реализовать взаимодействие
                            с любой системой виртуализации, которая имеет API для управления своими ресурсами.
                            В планах реализовать взаимодействие с OpenStack, и некоторыми другими системами.
                        </p>
                        <!--end::Text-->
                        <!--begin::Text-->
                        <p class="mb-8">
                            Проект разрабатывается студентом 4 курса Уральского Федерального университета.
                            <br />
                            <br />
                            Контакты для связи:
                            <br />
                            VK: <a href="https://vk.com/vanek185">vk.com</a>
                            <br />
                            Telegram: <span>vanek021</span>
                            <br />
                            Email: <a href="mailto:vanekmenyakin@gmail.com">vanekmenyakin@gmail.com</a>
                        </p>
                        <!--end::Text-->
                    </div>
                    <!--end::Description-->
                </div>
                <!--end::About-->
            </div>
            <!--end::Body-->
        </div>
    </div>
    <!--begin::Footer-->
    <div class="d-flex flex-center flex-column-auto p-10">
        <!--begin::Links-->
        <div class="d-flex align-items-center fw-bold fs-6">
            <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="text-muted text-hover-primary px-2">К авторизации</a>
            @*<a href="/" class="text-muted text-hover-primary px-2">Поддержка</a>*@
        </div>
        <!--end::Links-->
    </div>
    <!--end::Footer-->
</div>