@model ErrorViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="block page">
    <div class="center">
        <h1 class="title">@Model.Title</h1>
    </div>
    <div class="center">
        <div class="data">
            @if (!string.IsNullOrWhiteSpace(Model.Title))
            {
                <h2>@Model.Title</h2>
            }
        </div>
    </div>
</div>