@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Http.Features;
@using MoxControl.Connect.Models.Enums;
@using MoxControl.Infrastructure.Extensions;

@{
    var requestFeature = Context.Features.Get<IHttpRequestFeature>();
}

<div class="card mb-5 mb-xl-10">
    <div class="card-body pt-0 pb-0">
        <!--begin::Navs-->
        <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
            <!--begin::Nav item-->
            <li class="nav-item mt-2">
                <a asp-controller="Setting" asp-action="Index" class="nav-link text-active-primary ms-0 me-10 py-5 @(Context.Request.Path.Value!.ToLower() == ("/setting") ? "active" : "")">
                    Основные настройки
                </a>
            </li>
            <!--end::Nav item-->
            @foreach (var virtualizationSystem in EnumExtensions.GetAllItems<VirtualizationSystem>())
            {
                <!--begin::Nav item-->
                <li class="nav-item mt-2">
                    <a asp-controller="Setting" asp-action="VirtualizationSystem" asp-route-virtualizationSystem="@virtualizationSystem" class="nav-link text-active-primary ms-0 me-10 py-5 @(requestFeature?.RawTarget.ToLower() == ($"/setting/virtualizationsystem?virtualizationsystem={virtualizationSystem.ToString().ToLower()}") ? "active" : "")">
                        Настройки @virtualizationSystem.GetDisplayName()
                    </a>
                </li>
                <!--end::Nav item-->
            }
        </ul>
        <!--end::Navs-->
    </div>
</div>