<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class=" container-xxl " id="kt_content_container">
        <partial name="_SettingsNavigationPartial" />
    </div>

</div>