@using MoxControl.ViewModels.SettingViewModels;

@model SettingIndexViewModel

@{
    ViewData["Title"] = "Настройки";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class=" container-xxl " id="kt_content_container">
        <partial name="_SettingsNavigationPartial" />
        <div class="card mb-5 mb-xl-10">
            <!--begin::Header-->
            <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                <!--begin::Card title-->
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">Основные настройка сервиса</span>
                </h3>
                <!--end::Card title-->
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body pt-0">
                <!--begin::Table container-->
                <div id="kt_ecommerce_products_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive">
                        <!--begin::Table-->
                        <table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                    <th class="w-200px sorting_disabled">Название</th>
                                    <th class="min-w-100px sorting_disabled">Описание</th>
                                    <th class="w-200px sorting_disabled">Значение</th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                                @foreach (var setting in Model.Settings)
                                {
                                    <tr>
                                        <td>
                                            <a asp-controller="Setting"
                                           asp-action="Edit"
                                           asp-route-id="@setting.Id">
                                                @setting.SystemName
                                            </a>
                                        </td>
                                        <td class="pe-0">
                                            <span>@setting.Description</span>
                                        </td>
                                        <td class="pe-0">
                                            <span>@setting.Value</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <!--end::Table body-->
                        </table>
                    </div>
                </div>
                <!--end::Table-->
            </div>
            <!--end::Body-->
        </div>
    </div>
</div>