@using MoxControl.ViewModels.SettingViewModels;

@model ConnectSettingViewModel

@{
    ViewData["Title"] = "Настройки системы виртуализации";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class=" container-xxl " id="kt_content_container">
        <partial name="_SettingsNavigationPartial" />
        <!--begin::Basic info-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Настройки системы виртуализации</h3>
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
                <!--begin::Form-->
                <form asp-controller="Setting" asp-action="VirtualizationSystem" method="post" class="form fv-plugins-bootstrap5 fv-plugins-framework">
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">
                        <div class="row mb-0">
                            <!--begin::Label-->
                            <label asp-for="IsShowSettingsSection" class="col-lg-4 col-form-label fw-semibold fs-6"></label>
                            <!--begin::Label-->
                            <!--begin::Label-->
                            <div class="col-lg-8 d-flex align-items-center">
                                <div class="form-check form-check-solid form-switch form-check-custom fv-row">
                                    <input asp-for="IsShowSettingsSection" class="form-check-input w-45px h-30px" type="checkbox">
                                    <label class="form-check-label" for="allowmarketing"></label>
                                </div>
                            </div>
                            <!--begin::Label-->
                        </div>
                        <div class="row mb-0">
                            <!--begin::Label-->
                            <label asp-for="IsMachinesSyncEnabled" class="col-lg-4 col-form-label fw-semibold fs-6"></label>
                            <!--begin::Label-->
                            <!--begin::Label-->
                            <div class="col-lg-8 d-flex align-items-center">
                                <div class="form-check form-check-solid form-switch form-check-custom fv-row">
                                    <input asp-for="IsMachinesSyncEnabled" class="form-check-input w-45px h-30px" type="checkbox">
                                    <label class="form-check-label" for="allowmarketing"></label>
                                </div>
                            </div>
                            <!--begin::Label-->
                        </div>
                    </div>
                    <!--end::Card body-->
                    <!--begin::Actions-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Basic info-->
    </div>
</div>